/* Estilização das labels */
.container p{
    font-size: larger;
    padding: 2%;
}

/* Estilização dos input */
.container form {
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    top: 70px;
}

#nome {
    position: relative;
    width: 250px;
    height: 35px;
    right: 200px;
    bottom: 50px;
}

#email {
    position: relative;
    width: 250px;
    height: 35px;
    bottom: 96px;
    left: 70px;
}

#mensagem {
    position: relative;
    width: 520px;
    height: 300px;
    left: -200px;
    bottom: 80px;
}

button {
    position: relative;
    bottom: 45px;
    width: 125px;
    height: 30px;
}

/* Estilização do footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
}