/* Estilização do texto descritivo */
.container > p {
    font-size: large;
}
/* Estilização da imagem do projeto */
.container > img {
    position: relative;
    width: 60%;
    height: 500px;
    bottom: 80px;
    left: 41%;
}