/* Estilização do texto descritivo */
.container > p {
    font-size: larger;
}

/* Estilização do vídeo */
.container > video {
    position: relative;
    width: 60%;
    height: 500px;
    bottom: 80px;
    left: 41%;
}